@use '../abstracts/' as *;

// Light theme
$light-theme: (
    page-bg: map-get($colors, 'mid-blue', 200),
    content-bg: $white,
    content-border: map-get($colors, 'mid-blue', 300),
    content-text: map-get($colors, 'dark-blue', 600),
    content-title: map-get($colors, 'mid-blue', 700),
    main-heading: map-get($colors, 'mid-blue', 800),
    sub-heading: map-get($colors, 'mid-blue', 600),
    dark-surface-bg: map-get($colors, 'mid-blue', 700),
    darker-surface-bg: map-get($colors, 'mid-blue', 800),
    dark-surface-text: map-get($colors, 'mid-blue', 300),
    action-panel: $white,
    primary: map-get($colors, 'green', 700),
    primary-active: map-get($colors, 'green', 800),
    primary-text: $white,
    secondary: map-get($colors, 'mid-blue', 500),
    secondary-active: map-get($colors, 'mid-blue', 600),
    secondary-text: map-get($colors, 'mid-blue', 600),
    tertiary: map-get($colors, 'mid-blue', 400),
    tertiary-text: $white,
    error: map-get($colors, 'red', 500),
    focus: map-get($colors, 'mid-blue', 500),
    table-heading: map-get($colors, 'dark-blue', 500),
    input-border: map-get($colors, 'mid-blue', 400),
    input-background: $white,
    filters-bg: #dce4e9,
);

// Dark Theme
$dark-theme: (
    page-bg: map-get($colors, 'slate', 900),
    content-bg: map-get($colors, 'slate', 800),
    content-border: map-get($colors, 'slate', 700),
    content-text: map-get($colors, 'slate', 400),
    content-title: map-get($colors, 'slate', 300),
    main-heading: map-get($colors, 'slate', 200),
    sub-heading: map-get($colors, 'slate', 400),
    dark-surface-bg: map-get($colors, 'slate', 700),
    darker-surface-bg: map-get($colors, 'slate', 800),
    dark-surface-text: map-get($colors, 'slate', 300),
    action-panel: map-get($colors, 'slate', 700),
    primary: map-get($colors, 'light-blue', 700),
    primary-active: map-get($colors, 'light-blue', 800),
    primary-text: map-get($colors, 'slate', 100),
    secondary: map-get($colors, 'slate', 400),
    secondary-active: map-get($colors, 'slate', 300),
    secondary-text: map-get($colors, 'slate', 400),
    tertiary: map-get($colors, 'slate', 700),
    tertiary-text: map-get($colors, 'slate', 300),
    error: map-get($colors, 'red', 600),
    focus: map-get($colors, 'light-blue', 700),
    table-heading: map-get($colors, 'slate', 600),
    input-border: map-get($colors, 'slate', 600),
    input-background: map-get($colors, 'slate', 900),
    filters-bg: map-get($colors, 'slate', 800),
);

// $active-theme: $light-theme;
