/* purgecss start ignore */

@use '../abstracts/' as *;
@use '../theme/' as *;

@import url('https://rsms.me/inter/inter.css');

/* Set default font family */
html {
    font-family: 'Inter', sans-serif;
}

body {
    color: var(--content-text-color);
    background-color: var(--page-bg-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include fs('md');

    @include lg {
        @include fs;
    }
}

h1,
.h1 {
    @include h1();
}
h2,
.h2 {
    @include h2();
}
h3,
.h3 {
    @include h3();
}

h4,
.h4 {
    @include h4();
}
h5,
.h5 {
    @include h5();
}
h6,
.h6 {
    @include h6();
}

strong {
    @include fw('700');
}

a {
    color: var(--primary-color);
    text-decoration: none;
    @include fw('600');

    &:hover,
    &:focus {
        color: var(--primary-active-color);
        text-decoration: none;
    }
}

.text-md {
    @include text-md();
}

.text-sm {
    @include text-sm();
}

.text-xs {
    @include text-xs();
}

/* purgecss end ignore */
