/* purgecss start ignore */

@use '../abstracts/' as *;
@use '../theme/' as *;

@import url('https://rsms.me/inter/inter.css');

/* Set default font family */
html {
    font-family: 'Inter', sans-serif;
}

body {
    color: var(--content-text-color);
    background-color: var(--page-bg-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include fs('md');

    @include lg {
        @include fs;
    }
}

h1,
h2,
h3,
h4 {
    color: var(--main-heading-color);
    @include fw('700');
    @include leading('tight');
}
h5,
h6 {
    color: var(--sub-heading-color);
    @include fw('500');
    @include leading('tight');
}

h1,
.h1 {
    @include fs('2xl');
    @include fw('800');

    @include lg {
        @include fs('3xl');
    }
}

h2,
.h2 {
    @include fs('xl');

    @include lg {
        @include fs('2xl');
    }
}
h3,
.h3 {
    @include fs('lg');

    @include lg {
        @include fs('xl');
    }
}

h4,
.h4 {
    @include fs('base');

    @include lg {
        @include fs('lg');
    }
}

h5,
.h5 {
    @include fs('sm');

    @include lg {
        @include fs('base');
    }
}

h6,
.h6 {
    @include fs('sm');

    @include lg {
        @include fs('sm');
    }
}

strong {
    @include fw('700');
}

a {
    color: var(--primary-color);
    text-decoration: none;
    @include fw('600');

    &:hover,
    &:focus {
        color: var(--primary-active-color);
        text-decoration: none;
    }
}

.txt-md {
    @include fs('xs');

    @include lg {
        @include fs('sm');
    }
}

.txt-sm {
    @include fs('xxs');

    @include lg {
        @include fs('xs');
    }
}

.txt-xs {
    @include fs('xxxs');

    @include lg {
        @include fs('xxs');
    }
}

/* purgecss end ignore */
