@use 'sass:map';

$dark-blue: (
    '100': #f2f4f5,
    '200': #e5e9eb,
    '300': #ccd4d8,
    '400': #99aab1,
    '500': #667f89,
    '600': #335562,
    '700': #00222f,
    '800': #001923,
    '': #002a3b,
);
$mid-blue: (
    '100': #f3f6f7,
    '200': #e7edf0,
    '300': #d0dbe1,
    '400': #a1b7c3,
    '500': #7192a4,
    '600': #426e86,
    '700': #0f3b53,
    '800': #0b2c3e,
    '': #134a68,
);
$light-blue: (
    '600': #33bfcb,
    '700': #008c98,
    '': #00afbe,
);
$teal: (
    '600': #3391a4,
    '700': #005e71,
    '': #00758d,
);
$aqua: (
    '600': #33b1a8,
    '700': #007e75,
    '': #009d92,
);
$green: (
    '600': #4eb78f,
    '700': #1b845c,
    '': #22a573,
);
$red: (
    '300': #fca5a5,
    '400': #f87171,
    '500': #ef4444,
    '600': #dc2626,
    '700': #b91c1c,
);
$slate: (
    '100': #f1f5f9,
    '200': #e2e8f0,
    '300': #cbd5e1,
    '400': #94a3b8,
    '500': #64748b,
    '600': #475569,
    '700': #334155,
    '800': #1e293b,
    '900': #0f172a,
);
$white: #ffffff;
$transparent: transparent;
