@use './breakpoints' as *;

$type-utils: (
    'font-size': (
        'prefix': 'fs',
        'variants': (
            'xxxs': 0.6875rem,
            'xxs': 0.75rem,
            'xs': 0.8125rem,
            'sm': 0.875rem,
            'md': 0.9375rem,
            'base': 1rem,
            'lg': 1.125rem,
            'xl': 1.25rem,
            '2xl': 1.5rem,
            '3xl': 1.875rem,
            '4xl': 2.25rem,
            '5xl': 3rem,
            '6xl': 3.75rem,
            '7xl': 4.5rem,
            '8xl': 6rem,
            '9xl': 8rem,
        ),
    ),
    'font-weight': (
        'prefix': 'fw',
        'variants': (
            '100': 100,
            '200': 200,
            '300': 300,
            '400': 400,
            '500': 500,
            '600': 600,
            '700': 700,
            '800': 800,
            '900': 900,
        ),
    ),
    'letter-spacing': (
        'prefix': 'tracking',
        'variants': (
            'tighter': -0.05em,
            'tight': -0.025em,
            'normal': 0em,
            'wide': 0.025em,
            'wider': 0.05em,
            'widest': 0.1em,
        ),
    ),
    'line-height': (
        'prefix': 'leading',
        'variants': (
            'none': 0,
            'tightest': 1,
            'tight': 1.25,
            'snug': 1.375,
            'normal': 1.5,
            'relaxed': 1.625,
            'loose': 2,
        ),
    ),
    'text-align': (
        'prefix': 'align',
        'variants': (
            'center': center,
            'left': left,
            'right': right,
        ),
    ),
);

// Get type variant & prop
@function getTypeVariants($util, $prop) {
    $map: map-get($type-utils, $util);
    $variants: map-get($map, 'variants');
    @return map-get($variants, $prop);
}

// Font size mixin
@mixin fs($variant: 'base') {
    font-size: getTypeVariants('font-size', $variant);
}

// Font weight mixin
@mixin fw($variant: '400') {
    font-weight: getTypeVariants('font-weight', $variant);
}

// Line height mixin
@mixin leading($variant: 'normal') {
    line-height: getTypeVariants('line-height', $variant);
}

// Line height mixin
@mixin tracking($variant: 'normal') {
    letter-spacing: getTypeVariants('letter-spacing', $variant);
}

// Text Align
@mixin align($variant: 'left') {
    text-align: getTypeVariants('text-align', $variant);
}

// h1
@mixin h1($color: var(--main-heading-color)){
    color: $color;
    @include fs('2xl');
    @include fw('800');
    @include leading('tight');

    @include lg {
        @include fs('3xl');
    }
}

// h2
@mixin h2($color: var(--main-heading-color)){
    color: $color;
    @include fs('xl');
    @include fw('700');

    @include lg {
        @include fs('2xl');
    }
}

// h3
@mixin h3($color: var(--main-heading-color)){
    color: $color;
    @include fs('lg');
    @include fw('700');

    @include lg {
        @include fs('xl');
    }
}

// h4
@mixin h4($color: var(--main-heading-color)){
    color: $color;
    @include fs('base');
    @include fw('700');

    @include lg {
        @include fs('lg');
    }
}

// h5
@mixin h5($color: var(--sub-heading-color)){
    color: $color;
    @include fs('md');
    @include fw('500');

    @include lg {
        @include fs('base');
    }
}

// h6
@mixin h6($color: var(--sub-heading-color)){
    color: $color;
    @include fs('sm');
    @include fw('500');
}

// text medium
@mixin text-md(){
    @include fs('xs');

    @include lg {
        @include fs('sm');
    }
}

// text small
@mixin text-sm(){
    @include fs('xxs');

    @include lg {
        @include fs('xs');
    }
}

// text xsmall
@mixin text-xs(){
    @include fs('xxxs');

    @include lg {
        @include fs('xxs');
    }
}


