@use 'variables' as *;
@use './abstracts/' as *;

// generate colors classes & utils
@mixin generateColors($screen) {
    @each $color, $val in $colors {
        @if ($screen != xs) {
            .text-#{$color}-#{$screen} {
                color: $val;
            }
            %text-#{$color}-#{$screen} {
                color: $val;
            }
            .text-#{$color}-hover-#{$screen} {
                &:hover {
                    color: $val;
                }
            }
            %text-#{$color}-hover-#{$screen} {
                &:hover {
                    color: $val;
                }
            }
            .bg-#{$color}-#{$screen} {
                background-color: $val;
            }
            %bg-#{$color}-#{$screen} {
                background-color: $val;
            }

            @if ($val != #ffffff and $val != transparent) {
                // Light variations
                $color-key: 6;
                @for $i from 1 through 6 {
                    .text-#{$color}-#{$color-key}00-#{$screen} {
                        color: mix(white, $val, $i * 15.75);
                    }
                    .text-#{$color}-#{$color-key}00-hover-#{$screen} {
                        &:hover {
                            color: mix(white, $val, $i * 15.75);
                        }
                    }
                    .bg-#{$color}-#{$color-key}00-#{$screen} {
                        background-color: mix(white, $val, $i * 15.75);
                    }
                    $color-key: $color-key - 1;
                }

                // Dark variations
                $dark-color-key: 2;
                @for $i from 7 through 9 {
                    .text-#{$color}-#{$i}00-#{$screen} {
                        color: mix(black, $val, $i * $dark-color-key);
                    }
                    .text-#{$color}-#{$i}00-hover-#{$screen} {
                        &:hover {
                            color: mix(black, $val, $i * $dark-color-key);
                        }
                    }
                    .bg-#{$color}-#{$i}00-#{$screen} {
                        background-color: mix(
                            black,
                            $val,
                            $i * $dark-color-key
                        );
                    }
                    $dark-color-key: $dark-color-key + 1.25;
                }
            }
        } @else {
            .text-#{$color} {
                color: $val;
            }
            %text-#{$color} {
                color: $val;
            }
            .text-#{$color}-hover {
                &:hover {
                    color: $val;
                }
            }
            %text-#{$color}-hover {
                &:hover {
                    color: $val;
                }
            }
            .bg-#{$color} {
                background-color: $val;
            }
            %bg-#{$color} {
                background-color: $val;
            }

            @if ($val != #ffffff and $val != transparent) {
                // Light variations
                $color-key: 6;
                @for $i from 1 through 6 {
                    .text-#{$color}-#{$color-key}00 {
                        color: mix(white, $val, $i * 15.75);
                    }
                    .text-#{$color}-#{$color-key}00-hover {
                        &:hover {
                            color: mix(white, $val, $i * 15.75);
                        }
                    }
                    .bg-#{$color}-#{$color-key}00 {
                        background-color: mix(white, $val, $i * 15.75);
                    }
                    $color-key: $color-key - 1;
                }

                // Dark variations
                $dark-color-key: 2;
                @for $i from 7 through 9 {
                    .text-#{$color}-#{$i}00 {
                        color: mix(black, $val, $i * $dark-color-key);
                    }
                    .text-#{$color}-#{$i}00-hover {
                        &:hover {
                            color: mix(black, $val, $i * $dark-color-key);
                        }
                    }
                    .bg-#{$color}-#{$i}00 {
                        background-color: mix(
                            black,
                            $val,
                            $i * $dark-color-key
                        );
                    }
                    $dark-color-key: $dark-color-key + 1.25;
                }
            }
        }
    }
}

// Loop through all breakpoints
@each $screen, $size in $breakpoints {
    @media (min-width: #{$size}) {
        @include generateColors($screen);
    }
}

// @each $key, $val in $colors {
//     .text-#{$key} {
//         color: $val;
//     }
//     %text-#{$key} {
//         color: $val;
//     }
//     .text-#{$key}-hover {
//         &:hover {
//             color: $val;
//         }
//     }
//     %text-#{$key}-hover {
//         &:hover {
//             color: $val;
//         }
//     }
//     .bg-#{$key} {
//         background-color: $val;
//     }
//     %bg-#{$key} {
//         background-color: $val;
//     }

//     @if ($val != #ffffff and $val != transparent) {
//         // Light variations
//         $color-key: 6;
//         @for $i from 1 through 6 {
//             .text-#{$key}-#{$color-key}00 {
//                 color: mix(white, $val, $i * 15.75);
//             }
//             .text-#{$key}-#{$color-key}00-hover {
//                 &:hover {
//                     color: mix(white, $val, $i * 15.75);
//                 }
//             }
//             .bg-#{$key}-#{$color-key}00 {
//                 background-color: mix(white, $val, $i * 15.75);
//             }
//             $color-key: $color-key - 1;
//         }

//         // Dark variations
//         $dark-color-key: 2;
//         @for $i from 7 through 9 {
//             .text-#{$key}-#{$i}00 {
//                 color: mix(black, $val, $i * $dark-color-key);
//             }
//             .text-#{$key}-#{$i}00-hover {
//                 &:hover {
//                     color: mix(black, $val, $i * $dark-color-key);
//                 }
//             }
//             .bg-#{$key}-#{$i}00 {
//                 background-color: mix(black, $val, $i * $dark-color-key);
//             }
//             $dark-color-key: $dark-color-key + 1.25;
//         }
//     }
// }
