@use 'sass:math';
@use '../abstracts' as *;


$grid-columns: 12;
$grow: 0;



// Get screen from breakpoints map
@function getScreen($screen) {
    @return map-get($breakpoints, $screen);
}

// base layout classes
.container {
    width: 100%;
    max-width: getScreen('xl');
    margin: 0 auto;
    box-sizing: border-box;
    @include p('md');
    @include lg {
        @include p('xl');
    }
}

/* --------------------------- Display Flex sftuff -------------------------- */

.flex-row {
    display: flex;
    flex-flow: row wrap;
}
@mixin flex-column($width) {
    flex-grow: $grow;
    width: $width;
}
@mixin flex-col($number) {
    width: math.div($number * 100%, $grid-columns);
}

/* --------------------------- Display Grid sftuff -------------------------- */

@mixin grid-cols($number) {
    grid-template-columns: repeat($number, minmax(0, 1fr));
}
@mixin col-start($number) {
    grid-column-start: $number;
}
@mixin grid-rows($number) {
    grid-template-rows: repeat($number, minmax(0, 1fr));
}
@mixin row-start($number) {
    grid-row-start: $number;
}
@mixin grid-gap($size) {
    gap: getSize($size);
}
@mixin column-gap($size) {
    column-gap: getSize($size);
}
@mixin row-gap($size) {
    row-gap: getSize($size);
}

/* ---------------------------------- Test ---------------------------------- */

@mixin grid-structure($col:1, $col-sm:null, $col-md:null, $col-lg:null, $row:1, $row-sm:null, $row-md:null, $row-lg:null) {
    @include display('grid');
    @include grid-gap('12');
    grid-template-columns: repeat($col, minmax(0, 1fr));
    grid-template-rows: repeat($row, minmax(0, 1fr));
    grid-auto-flow: row;

    @include sm {
        @if $col-sm {
            grid-template-columns: repeat($col-sm, minmax(0, 1fr));
        }
        @if $row-sm {
            grid-template-rows: repeat($row-sm, minmax(0, 1fr));
        }
        
    }
    @include md {
        @if $col-md {
            grid-template-columns: repeat($col-md, minmax(0, 1fr));
        }
        @if $row-md {
            grid-template-rows: repeat($row-md, minmax(0, 1fr));
        }
    }
    @include lg {
        @if $col-md {
            grid-template-columns: repeat($col-lg, minmax(0, 1fr));
        }
        @if $row-lg {
            grid-template-rows: repeat($row-lg, minmax(0, 1fr));
        }
    }
}

// create alt row mixin?

.grid-col-flow-1234 {
    @include grid-structure(1,2,3,4);
}
.grid-col-flow-1233 {
    @include grid-structure(1,2,3,3);
}
.grid-col-flow-1224 {
    @include grid-structure(1,2,2,4);
}
.grid-col-flow-2 {
    @include grid-structure(2);
}
