@use "../abstracts/" as *;

// Button transition
@mixin btn-transition($duration: 0.25s) {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: ease-in-out;
  transition-duration: $duration;
}

// Button Mixin
@mixin btn($bg-color: var(--primary-color)) {
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  min-width: max-content;
  background-color: $bg-color;
  @include btn-transition();
  @include display("inline-flex");
  @include items("center");
  @include justify("center");
  @include fw("600");
  @include border("0");
  @include rounded("sm");
  @include h("40");
  @include fs("xs");
  @include px("12");
  @include tracking("wide");
  @include align("center");

}

// Need to add these mixins

// Primary Button
@mixin btn-primary() {
  @include btn(var(--primary-color));
  color: var(--primary-text-color);
  &:hover,
  &:focus {
      background-color: var(--primary-active-color);
  }
}

// Secondary Button
@mixin btn-secondary() {
  @include btn(transparent);
  color: var(--secondary-text-color);
  box-shadow: inset 0 0 0 1px var(--secondary-color);
  &:hover,
  &:focus {
      color: var(--content-bg-color);
      background-color: var(--secondary-color);
  }
}

// Tertiary Button
@mixin btn-tertiary() {
  @include btn(var(--tertiary-color));
  color: var(--tertiary-text-color);
  box-shadow: inset 0 0 0 1px $transparent;
  &:hover,
  &:focus {
      background-color: var(--tertiary-active-color);
  }
}

// Large Button
@mixin btn-lg() {
  @include fs("sm");
  @include px("18");
  @include h("44");
}

// Small Button
@mixin btn-sm() {
  @include h("34");
  @include fs("xxs");
  @include px("12");
}

// Large Button with icons
@mixin btn-lg-icon-left() {
  @include mr("8");
  @include leading("none");
  @include ml-("8");
}
@mixin btn-lg-icon-right() {
  @include ml("8");
  @include leading("none");
  @include mr-("8");
}

// Standard Button with icons
@mixin btn-icon-left() {
  @include mr("4");
  @include leading("none");
  @include ml-("4");
}
@mixin btn-icon-right() {
  @include ml("4");
  @include leading("none");
  @include mr-("4");
}
