@use 'sass:math';
@use '../abstracts/' as *;
@use '../theme/' as *;

.card {
    background-color: var(--content-bg-color);
    @include display('block');
    @include p('14');
    @include shadow('md');
    @include rounded('md');
    @include border();
    @include border-style('solid');
    @include border-color(var(--content-border-color));

    @include lg {
        @include rounded('lg');
        @include p('20');
    }

    .card-title {
        color: var(--content-title-color);
        @include fs('2xl');
        @include fw('700');
        @include mb('xs');
    }
    .card-body {
        color: var(--content-text-color);
        @include mb('md');
        a {
            color: var(--primary-color);
            text-decoration: underline;

            &:hover {
                color: var(--primary-active-color);
            }
        }
    }
}

// Extension of card, but could be in own component

.user {
    @include display('flex');
    @include items('center');

    img {
        @include w('20');
        @include h('20');
        @include rounded('full');
        @include mr('14');
        @include object('cover');
        @include lg {
            @include w('44');
            @include h('44');
        }
    }

    h4 {
        @include mb('4');
    }
}
